.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


.box {
  width: 500px;
  height: 500px;
  left: 0;
  top: 10;
  background-color: rgb(76, 204, 64);
  border-right: 2px dotted red;
}

.Items {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px 200px;
}